<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
    </head>
    <body>
        <h1>Welcome to URL Shortener</h1>
        <p>Click me to add random data!</p>
        <form action="{{url_for('add_data')}}" method="POST">
            <button type="submit">Add Random Data</button>
        </form>
        <form action="{{url_for('add_url')}}" method="POST">
            <label for="url">Enter URL to shorten: </label>
            <input type="url" id="url" name="url" required><br>
            <button type="submit">Shorten URL</button>
        </form>
        {% if short_url %}
            <p id="responseText">Shot URL: {{ short_url }}</p>
        {% endif %}
    </body>
    <script>

    </script>
</html>